body {
  
  padding: 0;
  
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 1440px; 
  color: #000000;
  margin: auto; 
}

a {
  text-decoration: none;
}

/* *:not(span):not(a) {
	outline:1px solid blue;
}*/
 
.main-header {
 background-color: #eeeeee;
 height: 200px;
}

.main-header-logo { 
  padding: 45px 140px;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
 }
 
.inner-page{
  width: 1440px;
  margin: auto;
}
.inner-page .main-header {
	 background-color: #eeeeee;
}
.inner-page .main-header-logo {
  order: 0;
  width: 164px;
  height: 66px;
  padding: 50px 140px;
}

.basket-navigation{
	width: 140px;
    margin: 0;
    padding: 0;
}

.site-navigation {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 440px;
  list-style: none;
}

.site-navigation a,
.basket-link {
  color:#000000;
}

.inner-page img:hover,
.inner-page img:focus {
  background-color: #303030;
}

.inner-page img:active {
  background-color: #a6a6a6;
}
.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  background-color: #fb565a;
}


.feature-list {
  display:flex;
  justify-content: space-between;
  list-style: none;
}
.feature-item{
 text-align: center;	
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
 
 }

.red-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
 .green-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
}

.yellow-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
}

.red-button:hover,
.red-button:focus {
  background-color: #e74246;
}

.red-button:active {
  background-color:	#d7373b
  color: #e37376;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color:	#00aa62;
  color: #4dc491;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color:	#e5a722;
  color: #edc265;
}

.main-footer h2 {
 font-size: 36px;
  line-height: 36px;
}

.footer-social {
  list-style: none;
}

.appointmen-form input:focus,
.appointmen-form textarea:focus {
  font: inherit;
  border-color: #444444;
}

.appointmen-checkbox:hover,
.appointmen-checkbox:focus {
  color: #444444;
}

.inner-page h1 {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500; 
}

.filters{
width: 260px;	
}

.img-link {
	margin: 80px 140px;
	
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	justify-content: space-between;
}

.img-link li {
	margin-bottom: 30px;
	margin-right: 40px;
}
 .filters { 
 display: flex;
  }
  
 .main-footer {
  display: flex;
  justify-content: space-between;
 }
 
 .footer-social {
  display: flex;
 }
 
 .pagination-list {
  display: flex;
  list-style: none; 
 }
 
 fieldset {
	 margin: 60px 120px;
 }
 