body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;  
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color:#eeeeee;
 }

.site-navigation {
  list-style: none;
}

.site-navigation a,
.basket-link {
  color:#000000;
}

.inner-page img:hover,
.inner-page img:focus {
  background-color: #303030;
}

.inner-page img:active {
  background-color: #a6a6a6;
}
.site-navigation a:hover,
.site-navigation a:focus,
.basket-link a:hover,
.basket-link a:focus {
  background-color: #fb565a;
}

.feature-list {
  list-style: none;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
 }

.red-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
 .green-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
}

.yellow-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
}

.red-button:hover,
.red-button:focus {
  background-color: #e74246;
}

.red-button:active {
  background-color:	#d7373b
  color: #e37376;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color:	#00aa62;
  color: #4dc491;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color:	#e5a722;
  color: #edc265;
}

.main-footer h2 {
 font-size: 36px;
  line-height: 36px;
}

.footer-social {
  list-style: none;
}

.appointmen-form input:focus,
.appointmen-form textarea:focus {
  font: inherit;
  border-color: #444444;
}

.appointmen-checkbox:hover,
.appointmen-checkbox:focus {
  color: #444444;
}

.inner-page h1 {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500; 
}
  